//
// // All purpose stuff
// html {
//   padding: 0;
//   margin: 0;
// }
// body {
//   background-color: #1c1a25;
//   color: #f7f2ff;
//   padding: 0;
// }
//
// // Header
// header {
//   background-color: #2c2a45;
// }
//
// // Title
// #jankeuchel {
//   color: #f7f2ff;
//   font-weight: bold;
//   text-decoration: none;
// }
// #jankeuchel:hover {
//   text-decoration: underline;
// }
//
// // Nav bar
// nav {
//   background-color: #4c4a85;
// }
// nav a {
//   color: #f7f2ff;
//   font-weight: normal;
//   text-decoration: none;
// }
// nav a:hover {
//   color: #ff3f81;
//   font-weight: bold;
//   text-decoration: underline;
// }
//
// .current {
//   color: #ff3f81;
//   font-weight: bold;
//   text-decoration: none;
// }
//
//
// Page content
// .default-layout {
//   padding: 0;
//   margin: 0;
// }
//
// .content {
//   background-color: #2f1f4a;
//   max-width: 45%;
//   margin: 0 auto;
// }

