
// Normal
@font-face {
    font-family: '0xProto Nerd Font';
    src: url('/assets/fonts/0xProto-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

// Bold
@font-face {
    font-family: '0xProto Nerd Font';
    src: url('/assets/fonts/0xProto-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

// Italic
@font-face {
    font-family: '0xProto Nerd Font';
    src: url('/assets/fonts/0xProto-Italic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

// Default font for body
body {
    font-family: '0xProto Nerd Font', monospace;
}
