<!DOCTYPE html>
<html>
    <head>
        <title>keuchel.dev</title>

        {{ if .Param "math" }}
            {{ partialCached "math.html" . }}
        {{ end }}

        {{ $styles := resources.Get "scss/main.scss" | toCSS | minify }}
        <style>{{ $styles.Content | safeCSS }}</style>
    </head>
    <body>
        {{ partial "header.html" }}

        {{ block "main" . }}{{ end }}

        <p>This text is coming from the <code>/layouts/_default/baseof.html</code> file.</p>

        {{ partial "footer.html" }}
    </body>
</html>
