<footer>
    <!-- Social links -->
    <p class="personal-links">
        <a href="https://github.com/jan-keuchel" aria-label="GitHub" target="_blank" rel="noopener noreferrer">
            {{ partial "svg/github.html" . }}
        </a>
        <a href="https://tryhackme.com/p/jan.keuchel" aria-label="TryHackMe" target="_blank" rel="noopener noreferrer">
            {{ partial "svg/thm.html" . }}
        </a>
        <a href="mailto:jan@keuchel.dev" aria-label="Mail">
            {{ partial "svg/mail.html" . }}
        </a>
    </p>

    <!-- Legal links -->
    <p>
        <a href="https://github.com/jan-keuchel/keuchel.dev" class="obligaroty-links" target="_blank" rel="noopener noreferrer">Source Code</a>
        <span class="sep">-</span>
        <a href="/privacy-policy" class="obligaroty-links">Privacy Policy</a>
    </p>
</footer>
